@import "vendor/bootstrap.min.css";

.highlight{
    padding-left:5px;
    background-color: #f7f7f9;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.highlight pre code {
    font-size: inherit;
    color: #212529;
}

